<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
<title>질문-답변 게시판</title>
</head>
<body>
<div align="center">
	<h2>질문 답변 게시판</h2>
</div>
<div class="container my-3">
	<table class="table">
		<thead class="table-info">
		<tr>
			<th>번호</th>
			<th>제목</th>
			<th>등록일</th>
		</tr>
		</thead>
		<tr th:each="question:${questionList}" >
			<td th:text="${question.id}"></td>
			<td>
				<a th:href="@{|/questionView/${question.id}|}" th:text="${question.subject}"></a>
			</td>
			<td th:text="${#temporals.format(question.createDate,'yyyy-MM-dd HH:mm')}"></td>
		</tr>
	</table>
</div>
</body>
</html>